@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Inter";
    src: url("/assets/Inter-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: "Inter";
    src: url("/assets/Inter-Medium.ttf") format("truetype");
    font-weight: 500;
  }
}

body {
  font-family: "Inter";
}

.bg-hero {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}
